<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fracong.shardingjdbc.test.dao.TestWebMapper" >
  <resultMap id="BaseResultMap" type="com.fracong.shardingjdbc.test.entity.TestWeb" >
    <id column="sq" property="sq" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="web_type" property="webType" jdbcType="VARCHAR" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="web_key" property="webKey" jdbcType="VARCHAR" />
    <result column="page" property="page" jdbcType="VARCHAR" />
    <result column="base" property="base" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sq, num, web_type, web_name, value, web_key, page, base
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tab_test_web
    where sq = #{sq,jdbcType=INTEGER}
  </select>
  <select id="queryTestWebList" resultMap="BaseResultMap" parameterType="com.fracong.shardingjdbc.test.entity.TestWeb">
    select 
    <include refid="Base_Column_List" />
    from tab_test_web where 1=1 
    <if test="sq != null">
    	and sq like concat('%',#{sq},'%') 
    </if>
    <if test="num != null">
    	and num like concat('%',#{num},'%') 
    </if>
    <if test="webType != null">
    	and web_type like concat('%',#{webType},'%') 
    </if>
    <if test="webName != null">
    	and web_name like concat('%',#{webName},'%') 
    </if>
    order by sq limit #{pageInfoBegin,jdbcType=INTEGER},#{pageInfoRows,jdbcType=INTEGER}
  </select>
  <select id="countTestWebList" resultType="java.lang.Integer" parameterType="com.fracong.shardingjdbc.test.entity.TestWeb">
    select count(1) from tab_test_web where 1=1 
    <if test="sq != null">
    	and sq like concat('%',#{sq},'%') 
    </if>
    <if test="num != null">
    	and num like concat('%',#{num},'%') 
    </if>
    <if test="webType != null">
    	and web_type like concat('%',#{webType},'%') 
    </if>
    <if test="webName != null">
    	and web_name like concat('%',#{webName},'%') 
    </if>
  </select>
  <insert id="insert" parameterType="com.fracong.shardingjdbc.test.entity.TestWeb" >
    insert into tab_test_web (sq, num, web_type, web_name, value, web_key, page, base)
    values (#{sq,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{webType,jdbcType=VARCHAR}, 
      #{webName,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{webKey,jdbcType=VARCHAR}, 
      #{page,jdbcType=VARCHAR}, #{base,jdbcType=VARCHAR})
  </insert>
</mapper>